#left-nav li{
    position: inherit;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
}
#right-nav li{
    position: inherit;
    float: right;
    width: 8%;
    padding: 3px;

}

#right-nav img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#left-nav img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header{
    height:8%;
    width: 100%;
}
aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}